
$main_page_bg = #efefef;
$main_gary = #ddd;
$main_black = #999;
$ctrl_color = #dfdfdf;
$main_color = #ff6800;
$text_default = #444;

$main_red = red;
$main_orange = #ff6800;
$main_yellow = #fffb40;
$main_green= #00c322;
$main_blue = #2c9bc7;