.float_left {
  float left
}
.float_right {
  float right 
}
.text_left {
  text-align: left
}
.text_center {
  text-align: center
}
.text_right {
  text-align: right
}
.has_header {
  padding-top: 44px
}
.has_footer {
  padding-bottom: 50px
}

  